body .details {
  font-size: 9px;
}

.label {
  margin: 0px;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.info {
  background-color: #eff6ff;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-radius: 0.375rem; /* 6px */
  border-width: 1px;
  border-style: solid;
  border-color: #3b82f6;
  color: #1e3a8a;
}

.md-badge-purple {
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem; /* 6px */
  padding-left: 0.625rem; /* 10px */
  padding-right: 0.625rem; /* 10px */
  padding-top: 0.125rem; /* 2px */
  padding-bottom: 0.125rem; /* 2px */
  margin-top: 1rem;
  font-size: 0.675rem; /* 14px */
  line-height: 1rem; /* 20px */
  font-weight: 700;
  color: #6b21a8; /* text color purple */
  background-color: #E9D5FF;
}

.md-badge-gray {
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem; /* 6px */
  padding-left: 0.625rem; /* 10px */
  padding-right: 0.625rem; /* 10px */
  padding-top: 0.125rem; /* 2px */
  padding-bottom: 0.125rem; /* 2px */
  margin-top: 1rem;
  font-size: 0.675rem; /* 14px */
  line-height: 1rem; /* 20px */
  font-weight: 700;
  color: #1f2937; /* text color purple */
  background-color: #f3f4f6;
}


.md-cal-badge {
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem; /* 6px */
  padding-left: 0.75rem; /* 10px */
  padding-right: 0.75rem; /* 10px */
  padding-top: 0.125rem; /* 2px */
  padding-bottom: 0.125rem; /* 2px */
  font-size: 0.675rem; /* 14px */
  line-height: 1rem; /* 20px */
  font-weight: 700;
  color: #ffffff;
}
.md-cal-badge-black {
  background-color: #000000;
}
.md-cal-badge-yellow {
  background-color: #dcc200;
}
.md-cal-badge-purple {
  background-color: #9200be;
}
.md-cal-badge-gray {
  background-color: #7e7e7e;
}
.md-cal-badge-blue {
  background-color: #006aff;
}
.md-cal-badge-red {
  background-color: #d40000;
}
.md-cal-badge-green {
  background-color: #007614;
}
