// Just the Class dependencies
@import 'variables';
@import 'mixins';
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'week';
@import 'staffer';
@import 'demo';

@import 'navigation';

// body .details {
//   font-size: 9px;
// }

// .label {
//   margin: 0px;
//   padding-left: 1.25em;
//   padding-right: 1.25em;
// }

// .info {
//   background-color: #eff6ff;
//   padding-right: 1.25rem;
//   padding-left: 1.25rem;
//   padding-top: 0.25rem;
//   padding-bottom: 0.25rem;
//   border-radius: 0.375rem; /* 6px */
//   border-width: 1px;
//   border-style: solid;
//   border-color: #3b82f6;
//   color: #1e3a8a;
// }

.md-badge-purple {
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem; /* 6px */
  padding-left: 0.625rem; /* 10px */
  padding-right: 0.625rem; /* 10px */
  padding-top: 0.125rem; /* 2px */
  padding-bottom: 0.125rem; /* 2px */
  margin-top: 1rem;
  font-size: 0.675rem; /* 14px */
  line-height: 1rem; /* 20px */
  font-weight: 700;
  color: #6b21a8; /* text color purple */
  background-color: #E9D5FF;
}

.md-badge-gray {
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem; /* 6px */
  padding-left: 0.625rem; /* 10px */
  padding-right: 0.625rem; /* 10px */
  padding-top: 0.125rem; /* 2px */
  padding-bottom: 0.125rem; /* 2px */
  margin-top: 1rem;
  font-size: 0.675rem; /* 14px */
  line-height: 1rem; /* 20px */
  font-weight: 700;
  color: #1f2937; /* text color purple */
  background-color: #f3f4f6;
}


.md-cal-badge {
  display: inline-flex;
  align-items: center;
  border-radius: 0.375rem; /* 6px */
  padding-left: 0.75rem; /* 10px */
  padding-right: 0.75rem; /* 10px */
  padding-top: 0.125rem; /* 2px */
  padding-bottom: 0.125rem; /* 2px */
  font-size: 0.675rem; /* 14px */
  line-height: 1rem; /* 20px */
  font-weight: 700;
  color: #ffffff;
}
.md-cal-badge-black {
  background-color: #000000;
}
.md-cal-badge-yellow {
  background-color: #dcc200;
}
.md-cal-badge-purple {
  background-color: #9200be;
}
.md-cal-badge-gray {
  background-color: #7e7e7e;
}
.md-cal-badge-blue {
  background-color: #006aff;
}
.md-cal-badge-red {
  background-color: #d40000;
}
.md-cal-badge-green {
  background-color: #007614;
}

/* ######## Hand Wave ######### ----   (╯°Д°)╯︵/  ---- ########################## */
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}
@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }  /* https://jarv.is/notes/css-waving-hand-emoji/ */
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
  /* ########################################################################### */
