.week {
  @extend .card;

  .week-days {
    grid-template-columns: minmax(100px, 1fr) 3fr;

    @include mq(lg) {
      grid-template-columns: minmax(150px, 1fr) 7fr;
    }
  }
}

.week-date {
  @extend .card-header;
}

.week-header {
  @extend .card-header;
}

.week-body {
  @extend .card-body;
}

.week-days {
  border-bottom: $border $border-color;
  border-top: $border $border-color;
  margin-bottom: 0;

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  .week-day,
  .week-event {
    margin: 0;
    padding: $sp-2;

    @include mq(sm) {
      padding: $sp-2 $sp-4;
    }

    &.main {
      border-top: $border $border-color;

      &:first-of-type {
        border-top: none;
      }
    }

    p {
      display: inline-block;
      margin: 0;
      width: 100%;

      @include mq(sm) {
        width: 82%;
      }

      +p {
        width: auto;
      }
    }

    a {
      white-space: normal;
    }
  }

  .week-day {
    grid-column-start: 1;
  }

  .week-event {
    grid-column-start: 2;

    +.week-event {
      padding-top: 0;
    }

    .label-lecture { background-color: #ECEBED; text-align: center; border-radius: 6px; width: 60px; }
    .label-disc { background-color: #779ECC; text-align: center; border-radius: 6px; width: 60px; }
    .label-hw { background-color: #E94C4B; text-align: center; border-radius: 6px; width: 60px; }
    .label-quiz { background-color: #FF8144; text-align: center; border-radius: 6px; width: 60px; }
    .label-exam { background-color: #000000; text-align: center; border-radius: 6px; width: 60px; }
    .label-demo { background-color: #F2C76E; text-align: center; border-radius: 6px; width: 60px; }
    .label-survey { background-color: #15c791; text-align: center; border-radius: 6px; width: 60px; }

    // .label-vit { background-color: #c1443c; text-align: center; border-radius: 9px; }
    // .label-live { background-color: #63c082; text-align: center; border-radius: 9px; }
    // .label-ghost { background-color: #ffffff; width: 30px; text-align: center; border-radius: 9px; }

  }

}

::after { content: "" !important }

.text-grey-dk-100, .label-lecture {
    color: #5c5962 !important;
}
